[user]
	name = Oriol Fitó
	email = orifito@gmail.com
[alias]
	co = checkout
        st = status -sb
	d = diff
	lg = log --oneline --graph --decorate
	ps = push
	pl = pull
	stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git diff-index --quiet HEAD; s=$?; [ $s != 0 ] && git stash save \"tmp stash from stash-rename\"; git stash apply $rev && shift && git stash save \"$@\" && [ $s != 0 ] && git stash pop stash@{1}; }; _"
[color]
	ui = auto
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[web]
	browser = google-chrome
